<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    
      <%- include('./partials/header') %>
    
    
    <!-- FIN MENU -->

    <!-- SLIDER -->
    <section id="container-slider">
      <div class="slider-frame">
        <ul>
          <li><img src="./images/libroAbierto.png" alt=""></li>
          <li><img src="./images/libros.png" alt=""></li>
          <li><img src="./images/lectores.png" alt=""></li>
          <li><img src="./images/libros.png" alt=""></li>
        </ul>
      </div>
      </ul>
    </section>

    <!-- FIN SLIDER -->

    <!-- RECOMENDADOS NOVEDADES MAS VENDIDOS -->
<section class="recomendadosNovedades">
      <div class="recomendados">
        <ul class="menu">
          
          <li><a id="rec">Recomendados</a></li>
          <li><a id="nov">Novedades</a></li>
          <li><a id="ven">Más vendidos</a></li>
      
        </ul>
      </div>

      <div class="imagenesRecomendados">
        <%recomendados.forEach(function(product){
        %>
            <div class="cajaImg">
              <div>
                <a href="/products/productDetail/<%= product.id %>">
                <img  src="/images/products/<%= product.image%>"  > </a>
                  
                  <h2>usd  <%= toThousand(product.price) %></h2>
                  <p><%= product.title %></p>
               
                </div>
          </div>
        <% }) %>
      </div>

      <div class="imagenesNovedades">
        <%novedades.forEach(function(product){
        %>
            <div class="cajaImg">
              <div>
                <a href="/products/productDetail/<%= product.id %>">
                <img  src="/images/products/<%= product.image%>"  > </a>
              
                  </a>
                  
                  <h2>usd  <%= toThousand(product.price) %></h2>
                  <p><%= product.title %></p>
               
                </div>
          </div>
        <% }) %>
      </div>

      <div class="imagenesMasVendidos">
        <%masVendidos.forEach(function(product){
        %>
            <div class="cajaImg">
              <div>
                <a href="/products/productDetail/<%= product.id %>">
                <img  src="/images/products/<%= product.image%>"  > </a>
              
                  </a>
                  
                  <h2>usd  <%= toThousand(product.price) %></h2>
                  <p><%= product.title %></p>
               
                </div>
          </div>
        <% }) %>
      </div>
  

</section>
    <!-- FIN RECOMENDADOS NOVEDADES MAS VENDIDOS -->

<!-- QUIENES SOMOS -->
<section class="quienes-somos">

  <div class="somos-container"> 

    <div class="">
      <h2 class="titulo">¿QUIENES SOMOS?</h2>
    </div>

    <div class="text-container">
      <p class="text"> Somos una biblioteca digital, en la cual podrás encontrar
        gran variedad de libros educativos hasta libros de entretenimiento.
        Somos BookExpress tu biblioteca digital de confianza.
        Una biblioteca digital que busca conectar la comunidad 
        entre alumnos, profesores e instituciones educativas.</p>
    </div>

  </div>
 
  <div class="imgBox">
    <img class="imgSomos" src="./images/faviconWhite.svg" alt="logo bookexpress blanco">
  </div>

</section>
<!-- FIN QUIENES SOMOS -->

  <!-- CATEGORIAS -->

    <section class="categoria-de-estudio">

      <div class="title"> 
        <h2>CATEGORIAS DE ESTUDIO </h2>
      </div>

      <hr class="hrCategorias">

      <div class="main-items-container">

        <div class="colum"> 

          <div class="CategoriaText">
            <li><a href="products/1" class="estilo"> Matemática </a> </li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/2" class="estilo">  Historia </a> </li>
          </div>
          <div class="CategoriaText">
            <li><a href="products/3" class="estilo"> Geografía </a></li>
          </div>
          <div class="CategoriaText">
            <li><a href="products/4" class="estilo"> Inglés </a></li>
          </div>

        </div>

        <div class="colum">

          <div class="CategoriaText">
            <li> 
              <a href="/products/5" class="estilo"> Astronomia </a>
            </li>
          </div>

          <div class="CategoriaText">
            <li> <a href="products/6" class="estilo"> Informática </a></li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/7" class="estilo">Literatura</a></li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/8" class="estilo"> Quimica </a></li>
          </div>

        </div> 

        <div class="colum">

          <div class="CategoriaText">
            <li> <a href="products/9" class="estilo"> Biologia </a></li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/10" class="estilo"> Arte </a></li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/11" class="estilo"> Economia </a></li>
          </div>
          <div class="CategoriaText">
            <li> <a href="products/12" class="estilo"> Educación Física </a></li>
          </div>

        </div>
        
      </div>


    </section>

    <!-- FIN CATEGORIAS -->

<!-- Categorias
1 Matematica
2 Geografia
3 Historia
4 Ingles
5 Astronomia
6 Informatica
7 Literatura
8 Quimica
9 Biologia
10 Arte
11 Economia
12 Educacion Fisica
-->
    <!-- FEEDBACK -->

    <section class="feedback">

      <div class="feedContainer">

      <article class="articleBox">
        <div class="boxImgAlumna">
          <img class="FeedImg" src="/images/alumna .jpg" alt="alumna" />
        </div>

        <div class="tituloFeedBox">
          <h2 class="tituloFeed">María, estudiante</h2>
        </div>

        <div class="desFeedBox">
          <p class="textFeed">
            Gracias a bookExpress puedo conectar Con estudiantes de otros
            lugares, esta Comunidad es genial!
          </p>
        </div>
        
      </article>

      <article class="articleBox">
        <div class="boxImgAlumna">
          <img class="FeedImg" src="images/docente .jpg" alt="" />
        </div>

        <div class="tituloFeedBox">
          <h2 class="tituloFeed">Claudia, docente</h2>
        </div>

        <div class="desFeedBox">
          <p class="textFeed">
            Una herramienta muy útil para dialogar con otros colegas, saber
            dónde están los Problemas  y buscar soluciones colaborativas
          </p>
        </div>

      </article>


      <article class="articleBox">
        <div class="boxImgAlumna">
          <img class="FeedImg" src="/images/alumno .jpg " alt=""/>
        </div>

        <div class="tituloFeedBox"> 
          <h2 class="tituloFeed">Juan, estudiante</h2>
        </div>

        <div class="desFeedBox">
          <p class="textFeed">
            ¡Nunca más a las fotocopias! bookExpress me permite centralizar
            mis libros en un solo dispositivo, y lo mas importante, colaboro
            con el medio ambiente
          </p>
        </div>

      </article>

    </div>

    </section>

    <!-- FIN FEEDBACK -->
    <footer>
      <%- include('./partials/footer') %>
    </footer>
    <script>

window.addEventListener('load', function() {
  let recomendado = document.getElementById('rec')
  let imagenesRecomendados = document.querySelector('.imagenesRecomendados')
  let novedades = document.getElementById('nov')
  let imagenesNovedades = document.querySelector('.imagenesNovedades')
  let masVendidos = document.getElementById('ven')
  let imagenesMasVendidos = document.querySelector('.imagenesMasVendidos')


  
if(novedades){novedades.addEventListener('click', function(e){
    e.preventDefault();
    imagenesNovedades.style.display = 'flex';
    imagenesRecomendados.style.display = 'none';
    imagenesMasVendidos.style.display = 'none';
  })
}else if(masVendidos){
  masVendidos.addEventListener('click', function(e){
    e.preventDefault();
    imagenesMasVendidos.style.display = 'flex';
    imagenesRecomendados.style.display = 'none';
    imagenesNovedades.style.display = 'none';
  })
}
if(masVendidos){
  masVendidos.addEventListener('click', function(e){
    e.preventDefault();
    imagenesMasVendidos.style.display = 'flex';
    imagenesRecomendados.style.display = 'none';
    imagenesNovedades.style.display = 'none';
  })
}

if(recomendado){
  recomendado.addEventListener('click', function(e){
    e.preventDefault();
    imagenesMasVendidos.style.display = 'none';
    imagenesRecomendados.style.display = 'flex';
    imagenesNovedades.style.display = 'none';
  })
}

  // recomendado.addEventListener('click', function(e){
  //   e.preventDefault();
  //   imagenesRecomendados.style.display = 'flex';
  // })

  // novedades.addEventListener('click', function(e){
  //   e.preventDefault();
  //   imagenesNovedades.style.display = 'flex';
  // })

  // masVendidos.addEventListener('click', function(e){
  //   e.preventDefault();
  //   imagenesMasVendidos.style.display = 'flex';
  // })

})

    </script>
</body>

</html>