<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" type="image/svg" href="/images/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"/>
    <script
      src="https://kit.fontawesome.com/1bd3b3afa4.js"
      crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Detalle del Producto</title>
  </head>


  <body>

    <!-- <header>
      <%- include('./partials/header') %>
    </header> -->

    <section class="BoxBox">

      <section class="boxContainer">

      <div class="bookImageBox">
        <img class="bookImg" src="/images/products/<%= product.imagen %>"
          alt=<%product.nombreLibro%>/>
      </div>

        <div class="libro">
          <h2 class="titulo-libro"><%=product.nombreLibro%></h2>
          <p class="calificaion">Precio</p>
          <div>
            <button class="precio" type="button"><%=product.precio%></button>
          </div>
          <p class="reseña">
            <%=product.reseña%>
          </p>
          <a href=""><button class="botones">Comprar</button></a>
          <a href="../edit/<%=product.id%>"><button class="botones">Editar</button></a>
          <a href=""><button class="botones">Borrar</button></a>
        </div>

      </section>

        <section class="detallesBox"> 

        <div class="detalles">
          <div class="deta">
            <p>Número de paginas</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.numeropaginas%></p>
          </div>

          <div class="deta">
            <p>Orígen</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.origen%></p>
          </div>

          <div class="deta">
            <p>Editorial</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.editorial%></p>
          </div>


          <div class="deta">
            <p>Fecha de públicación</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.fechapublicacion%></p>
          </div>
        

        </div>

        </section>



        <section class="opinion">
          <div class="textOpinion">
          <h2>Opiniones Editoriales</h2>
          <h4>Sobre el autor</h4>
          <p class="reseña">
            <%=product.sobreautor%>
          </p>
        </div>
        </section>
    
    </section>

    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
