<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <header class="menuM">
      <%- include('./partials/header') %>
  </header>

    <main>

      <section>

      <div class="allproducts">
        <%products.forEach(function(product){ %>
                <div class="productbox">
                  

                  <div class="productbox2">
                    <a href="/products/productDetail/<%=product.id%>">
                    <img class="imgCajaRecomendado" src="/images/products/<%= product.imagen%>" alt=""></a>
                    <h6> $ <%= product.precio%> </h6>
                    <h6> <%= product.nombreLibro %>  </h6> 
                  </div>

                </div>
                <%  }); %>

        </div>
       </section>

    </main>


    <footer>
        <%- include('./partials/footer') %>
      </footer>
   
 </body>

</html>
  </body>
