<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    
      <%- include('./partials/header') %>
  

  <body>

   

    <section class="BoxBox">

      <section class="boxContainer">

      <div class="bookImageBox">
        <img class="bookImg" src="/images/products/<%= product.image %>"
          alt=<%product.nombreLibro%>/>
      </div>

        <div class="libro">
          <h2 class="titulo-libro"> <%=product.title%></h2>
          <p class="calificaion">Precio</p>
          <div>
            <button class="precio" type="button">usd  <%=product.price%></button>
          </div>
          <p class="reseña">
            <%=product.description%>
          </p>
          <a href=""><button class="botones">Comprar</button></a>
          <a href="../edit/<%=product.id%>"><button class="botones">Editar</button></a>
          <form method="POST" action="/products/delete/<%=product.id%>?_method=DELETE">
            <a href=""><button class="botones" type="submit">Borrar</button></a>
          </form>
        </div>

      </section>

        <section class="detallesBox"> 

        <div class="detalles">
          <div class="deta">
            <p>Número de paginas</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.pages%></p>
          </div>

          <div class="deta">
            <p>Orígen</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.origin%></p>
          </div>

          <div class="deta">
            <p>Editorial</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.editorial%></p>
          </div>


          <div class="deta">
            <p>Fecha de públicación</p>
            <i class="fi fi-bs-book-alt"></i>
            <p><%=product.published_date%></p>
          </div>
        

        </div>

        </section>



        <section class="opinion">
          <div class="textOpinion">
          <h2>Opiniones Editoriales</h2>
          <h4>Sobre el autor</h4>
          <p class="reseña">
            <%=product.about_author%>
          </p>
        </div>
        </section>
    
    </section>

    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
