<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>

    <main>
      <div class="header"><%- include('./partials/header') %></div>

      <section>

      <div class="imagenesRecomendados">
        <%products.forEach(function(product){ %>
                <div class="cajaImg">
                  <div>
                    <a href="/products/productDetail/<%=product.id%>">
                    <img src="/images/products/<%= product.image%>" alt=""></a>
                    <h2>usd  <%= toThousand(product.price) %></h2>
                    <p><%= product.title %></p>
                  </div>

                </div>
                <%  }); %>

        </div>
      </section>
    </main>

    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
