  <!-- if()-->
  <!DOCTYPE html>
    <html lang="en">
        <head>    
            <%- include('./partials/head') %>
            <link rel="stylesheet" href="../public/css/profile.css" />
        </head>
        
        <body> 
            
            <div class="container" style="margin-top: 40px;">
                <div class="row">
                <div class="col-md-3">
                    <h2>Hola <%= user.nombre %> </h2>
                        <h3>Tus Datos:</h3>
                            <p>
                <ul class="infoUser">
                    <li>Nombre: <%=user.nombre%></li>
                    <li>Email: <%=user.email%></li>
                    <li>Tel: <%=user.tel%></li>
                    <li>Categoria: <%=user.categoria%></li>
                    <li>Imagen</li>
                    <img class="imgUser" src="/images/users/<%= user.imagen %> ">
                    
                </ul>
            </p>
        </div>
    </div>
</div>


</body>
</html>
<!-- //Container -->