  <!-- if()-->
  <!DOCTYPE html>
    <html lang="en">
        <head>    
           
            <link rel="stylesheet" href="../public/css/profile.css" />
        </head>
        <body> 
            <div class="container">
                
                    <h2>¡ Hola <%= user.nombre %> !</h2>
                        <h3>Tus Datos:</h3>
                            <p>
                                <ul class="infoUser">
                                    <li>Nombre: <%=user.nombre%></li>
                                    <li>Email: <%=user.email%></li>
                                    <li>Tel: <%=user.tel%></li>
                                    <li>Categoria: <%=user.categoria%></li>
                                    <li>Imagen</li>
                                    <img class="imgUser" src="/images/users/<%= user.imagen %> ">
                                </ul>
                            </p>
                            <p>
                                <ul>
                                    <li><a href="./edit/<%= user.id %>">Editar Datos</a></li>
                                    <li><a href="/users/logout">Cerrar Sesión</a></li>     
                                </ul>

                            </p>
                            
              
            </div>
        </body>
    </html>
<!-- //Container -->