<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userEdit.css">
    <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Editar Usuario - BookExpress</title>
</head>
<body>
    <div>
        <div class="logoBox">
            <a href="./index.html"><img class="logo" src="/images/favicon.svg" alt=""></a>
        </div>
        <form action="/users/edit?_method=PUT" method="POST">
            <div class="inputBox">
                <input type="text" name="nombre" id="nombre" required="required" value="<%= userToEdit.nombre%>">
                
            </div>

            <div class="inputBox">
                <input type="tel" name="tel" id="tel" required="required" value="<%=userToEdit.telefono%>">
                
            </div>

            <div class="inputBox">
                <input type="email" name="email" id="email" required="required" value="<%=userToEdit.email%>">
                
            </div>

            <div class="inputBox">
                <input type="password" name="contraseña" id="contraseña" required="required" value="<%=userToEdit.contraseña%>">
                
            </div>

            <div class="inputBox">
                <input type="password" name="confirmarContraseña" id="confirmarContraseña" required="required" value="<%=userToEdit.contraseña%>">
                
            </div>

            
            <div class="botonBox">
                <button class="boton" id="acceder" type="submit" value="editar">Editar Usuario</button>
            </div>

        </form>
    </div>
    <form method="POST" action="/users/delete/<%= userToEdit.id%>?_method=DELETE">
        <div> <button typ="submit" class="eliminar">Eliminar Usuario</button></div>
    </form>


</body>
</html>