<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <header class="menuM">
      <%- include('./partials/header') %>
  </header>
    <div>
        <div class="logoBox">
            <a href="./index.html"><img class="logo" src="/images/favicon.svg" alt=""></a>
        </div>
        <form action="<%=user.id%>?_method=PATCH" method="POST">
            <h2>Modificá tus datos y luego hacé clic en "Editar"</h2>
        
            <div class="inputBox">
                <input type="text" name="nombre" id="nombre" required="required" value="<%= user.nombre%>">
                
            </div>

            <div class="inputBox">
                <input type="tel" name="tel" id="tel" required="required" value="<%=user.tel%>">
                
            </div>

            <div class="inputBox">
                <input type="email" name="email" id="email" required="required" value="<%=user.email%>">
                
            </div>

            <div class="inputBox">
                <input type="password" name="password" id="password" required="required" value="<%=user.password%>">
                
            </div>

                       
            <div class="botonBox">
                <button class="boton" id="acceder" type="submit" value="editar">Editar</button>
            </div>

        </form>
    </div>
    <form method="POST" action="/users/delete/<%= user.id%>?_method=DELETE">
        <div> 
            <h2>Para eliminar tu registro, hacé clic en "Eliminar"</h2>
            <button typ="submit" class="eliminar">Eliminar</button>
        </div>
    </form>


</body>
</html>